* {
    font-family: monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input {
    width: 80px;
    text-align: center;
}

.box-texto {
    text-align: left;
    height: fit-content;
}

.area-texto {
    width: 350px;
    height: 250px;
}

.center {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.inner-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

button {
    font-weight: bold;
    width: 150px;
}

.vertical-run {
    width: 150px;
}

#public-key-button {
    height: fit-content;
    margin-left: 100px;
    margin-right: 100px;
}

.pequeno-hover {
    font-size: 10px;
    color: red;
}