* {
    font-family: monospace;
    color:white;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1 {
    text-align: center;
}

.outer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    background-color: rgb(56, 56, 56);
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 3%;
}

.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.center > * {
    margin-left: 5%;
    margin-right: 5%;
}

.inner-center {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.box-texto {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.area-texto {
    min-height: 200px;
    min-width: 250px;
    border: 2px solid black;
    background-color: grey;
}

.number-input {
    max-width: 80px;
    background-color: grey;
}

button {
    background-color: grey;
}

@media only screen and (max-width: 1000px) {
  .center {
      flex-direction: column;
  }
}
